<div class="home-callout text-center container-fluid">
    <h1>Welcome to <span class="logo-color">DevMatch</span></h1>
    <h3>Where entrepreneurs and developers meet.</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">Basic</h2><hr>
                    <p class="text-center">Free</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">The quick brown fox</li>
                    <li class="list-group-item">Jumps over the lazy brown dog</li>
                    <li class="list-group-item">Phineas and ferb</li>
                    <li class="list-group-item text-center"><%= link_to "Sign up for free", new_user_registration_path(plan: @basicPlan.id), class: 'btn btn-primary btn-lg' %></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">Pro</h2><hr>
                    <p class="text-center">$9.90/month</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">The quick brown fox</li>
                    <li class="list-group-item">Jumps over the lazy brown dog</li>
                    <li class="list-group-item">Phineas and ferb</li>
                    <li class="list-group-item text-center"><%= link_to "Go Pro", new_user_registration_path(plan: @proPlan.id), class: 'btn btn-success btn-lg' %></li>
                </ul>
            </div>
        </div>
    </div>
</div>