/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  * Asset pipeline - This manifest file will take all the files in the stylesheets directory (in alphabetical order) &
    * inject them into this file, right where it says "*= require tree". This is to increase the website's speed &
    * reduce server costs, as in the real world website traffic can be very high at any given time.
    *
  *= require_tree .
  *= require_self
*/

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Typography styles
body { font-family: 'Roboto', sans-serif; }

// Navbar styles
// Background gradient - from @_ighosh at uigradients.com
.navbar, .home-callout { 
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// Homepage styles
.home-callout {
    color: rgba(255, 255, 255, 0.9);
    margin-top: -1.5rem;
    padding-top: 70px;
    padding-bottom: 50px;
    &.with-alert { margin-top: -6rem; padding-top: 150px; }
}

.card {
  .basic-card {
    color: white;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0082d9, #004878);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0082d9, #004878); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .pro-card {
    color: white;
    background: #799F0C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ACBB78, #799F0C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ACBB78, #799F0C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

// Registration & login page styles
.signup-header-padding { padding-left: 19px; }
.icon-size { width: 40px; }
.login-img-size { width: 200px; }

// User index styles
.dp { width: 100px; border-radius: 50% }
.index-card:hover { filter: brightness(97%); }